/* Base Styles */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

#menu {
    height: 100%;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 175%;
}

section {
    height: fit-content;
    background-color: #2a9d8f;
    border: 1px solid #264653;
    float: left;
}

h2 {
    text-align: center;
    font-size: 125%;
    border: 1px solid #000000;
    margin-right: -1px;
    margin-top: -1px;
    padding-top: 3px;
    padding-bottom: 3px;
}

p {
    clear: both;
    padding: 9px;
    font-size: 100%;
}

#options {
    width: 100%;
    margin: auto;
}

#chicken {
    background-color: #e76f51;
}

#beef {
    background-color: #f4a261;
}

#sushi {
    background-color: #e9c46a;
}


/* Desktop Only */

@media (min-width: 1025px) {
    section {
        width: 30%;
        margin-left: 2.5%;
        margin-top: 2.5%;
    }
    h1 {
        margin: 5%;
    }
    h2 {
        width: 33.3333333333%;
        float: right;
        clear: both;
    }
}


/* Tablet Only */

@media (min-width: 768px) and (max-width: 1024px) {
    #options>section:nth-child(1),
    #options>section:nth-child(2) {
        width: 45%;
        margin: 2.5%;
    }
    #options>section:nth-child(3) {
        width: 95%;
        margin: 0 2.5% 0 2.5%;
    }
    h1 {
        margin: 10%;
        font-size: 3.5em;
    }
    h2 {
        font-size: 2.5em;
    }
    p {
        font-size: 1.5em;
    }
}


/* Mobile Only */

@media (max-width: 767px) {
    #options {
        width: 90%;
        margin: auto:
    }
    section {
        margin: 5% 0 5% 0;
    }
    h1 {
        font-size: 7em;
        margin: 10%;
    }
    h2 {
        font-size: 4em;
    }
    p {
        font-size: 2em;
    }
}